@import '../../Login/login.scss';

.newOrderForm {
    height: fit-content;
    width: 550px;  
    margin: 20px 0 ;
    padding: 0;
    

}

.formButtonsContainer {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.cancelButtonForm, .cancelLinkForm{

    width: 50%;
    height: 100px;
    background-color: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    font-family: $Content;
    text-align: center;


}
#formSubmitButton {
    width: 40%;
    height: 100px;
    background-color: $green;
    border: $green;
    font-size: 30px;
    font-weight: bold;
    font-family: $Content; 
    color: $white;
    border-radius: 10px;

}
